name: Pull Request Create
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  updateAuthor:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out the code
        uses: actions/checkout@v3
        
      - name: Extract git commit data
        uses: rlespinasse/git-commit-data-action@v1.x
                 
      - name: Update author info
        run: echo ${{env.GIT_COMMIT_AUTHOR_NAME}} > AUTHOR
        
      - name: Raise a Pull Request
        id: demo-1
        uses: peter-evans/create-pull-request@v3
        with:
          branch: "my-pr-branch"
          base: main
          title: "Demo for auto PR"
          committer: ${{env.GIT_COMMIT_AUTHOR_NAME}} <${{env.GIT_COMMIT_AUTHOR_EMAIL}}">
          author: ${{env.GIT_COMMIT_AUTHOR_NAME}} <${{env.GIT_COMMIT_AUTHOR_EMAIL}}>
          body:
            This is to show automatic PR creation 
          token: ${{secrets.GITHUB_TOKEN}}
          delete-branch: true
      
      - name: Approve pull Request
        uses: juliangruber/approve-pull-request-action@v1
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          
      
      - name: Merge pull request
        uses: juliangruber/merge-pull-request-action@v1
        with: 
          github-token: ${{secrets.GITHUB_TOKEN}}
          method: squash  
